input[type="time"]::-webkit-calendar-picker-indicator {
  background: #14161c;
  cursor: pointer;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

* {
  scrollbar-color: #1c1f27 #ffffff00;
}

select::-webkit-scrollbar {
  background: transparent;  
}